.body{
background-color: rgb(255, 255, 255);
}

@media (min-width: 1200px)
{
    .container
    {
        max-width: 970px;
    }
}

/* .fixed-header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
} */


#logo img
{
    width: 80px;
}

#banner img
{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#highlight img
{
    border-radius: 20px;
}

#highlight #img1 img
{
    font-size: 50px;
    padding: 10px;
    transition: all 0.5s;
}

#highlight #img1 img:hover
{
    opacity: 0.5;
    background-color: rgb(182, 182, 182);
    border-radius: 10px;
    transition: background-color 0.5s;
}

#banner1 img
{
    border-radius: 20px;
}

#client img
{
    width: 150px;
    overflow: hidden;
    border-radius: 15px;
}

#client img:hover
{
    opacity: 0.5;
    width: 170px;
}

.testi
{
    background-color: grey;
    border-radius: 20px;
    height: 300px;
}

.testi img
{
    width: 100px;
    border-radius: 60px;
    padding-top: 20px;
}

